{% extends 'blog/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

    <div class="post p-3 m-4">
        <img class="img-fluid rounded-circle border m-2" width="70" src="{{ post.author.profile.image.url }}" alt="صورة الناشر">
        <span class="text-secondary">نشر في {{ post.post_date |date:'d-m-Y' }}</span>
        <h4>
            {{ post.title }}
        </h4>
        <p>{{ post.content }}</p>
    </div>

    <div>
        <h1 class="border-bottom mt-5 mb-3">التعليقات ({{ comments.count }})</h1>

        {% for comment in comments %}

        <ul class="p-3 comment">
            <h6 class="border-bottom p-2">( {{ comment.name }} )</h6><span class="text-secondary">{{ comment.comment_date|date:'d-m-Y' }}</span>

            {{ comment.body }}
        </ul>

        {% empty %}

        <h6 class="text-center p-4 comment">لا يوجد تعليقات</h6>
        {% endfor %}
    </div>


    <h3 class="border-bottom pd-3 mb-3 mt-5">أضافة تعليق جديد</h3>

    <div class="border p-4 mb-5 mt-4">
        <form method="POST">

            {% csrf_token %} {{ comment_form|crispy }}
            <input type="submit" class="btn btn-secondary" value="نشر التعليق">
        </form>
    </div>



{% endblock content %}