{% extends 'blog/base.html' %}
{% block content %}
{% load crispy_forms_tags %}



    <div class="border p-4 mb-5 ">
        <legend class="border-bottom pb-1 mb-3 ">حذف التدوينة</legend>

        <form method="POST">
            <legend class="pb-1 mb-3 mt-4 ">هل انت متاكد من حذف "{{ object.title }}" ؟</legend>
            {% csrf_token %}
            <input type="submit" class="btn btn-danger mt-3" value="حذف">
            <a href="{% url 'detail' object.pk %}"  class="btn btn-secondary float-start mt-3">تراجع</a>
        </form>
    </div>




{% endblock content %}